#portfolio{
    width: 70%;
    height: auto;
    border: solid #7a7a7a 0.2rem;
    border-radius: 0.5rem;
    background-color: white;
    margin-left: auto ;
    padding: 2rem;
    box-sizing: border-box;
}

.portHeader{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.portItems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.portImgs{
    display: flex;
    flex-wrap: wrap;
}

.portImg{
    object-fit: cover;
    width: 40%;
    height: auto;
    margin: 1rem 2rem;
}

@media screen and (max-width:767px) {
    #portfolio{
        width: 100%;
        padding-bottom: 4rem;
    }
    .portImg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
}

@media screen and (min-width:768px) and (max-width:820px) {
    #portfolio{
        width: 100%;
        margin: auto;
        padding-bottom: 5rem;
    }
    .portImg{
        object-fit: cover;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width:912px) and (max-width:1024px) {
    .portImg{
        width: 80%;
    }
}